
body {
    font-family: 'Roboto', sans-serif;
}

.title-surgery-shift h2{
    text-align: center;
}
.div-schedule {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.div-roomHeaderItem .div-room-name {
    background: gray;
    color: aliceblue;
    font-weight: bold;
    height: 40px;
}
.div-roomHeaderItem {
    outline: 1px black solid;
    width: 20%;
    float: left;
}
.div-roomBodyItem {
    outline: 1px black solid;
    position: relative;
}
.div-roomBodyItem .info-shift {
    z-index: 1;
}
.mybuttonoverlap{
	position: absolute;
    z-index: 2;
    display: none;
    top: 25px;
    left: 25px;
}
.div-roomBodyItem:hover .mybuttonoverlap{ 
	display:block;
}
/* View Schedule Item */
.container-scheduleItem {
    padding-left: 5%;
    padding-right: 5%; 
}
.div-surgery-report {
    /* display: flex; */
    font-size: 18px;
    color: black;
    margin-top: 50px
}

.table-information-shift tr td:first-child {
    width: 15%;
}
.table-information-shift tr td:nth-child(3) {
    width: 15%;
}
.div-editable-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
.div-ekip .table-ekip {
    font-size: 18px;
    color: black;
}
.div-ekip .table-ekip tr td{
    padding-right: 40px;
    padding-bottom: 10px;
}