<div class="main-menu-content">
  <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
    <li class=" nav-item tung-nav-item"><a href="index.html"><i class="icon-home3"></i><span data-i18n="nav.dash.main"
          class="menu-title">Dashboard</span></a>
    </li>
    <li class=" nav-item tung-nav-item"><a href="#"><i class="icon-file-excel"></i><span data-i18n="nav.page_layouts.main"
          class="menu-title">Import Surgery Profile</span></a>
    </li>
    <li class=" nav-item tung-nav-item"><a href="#"><i class="icon-list2"></i><span data-i18n="nav.page_layouts.main"
          class="menu-title">Confirm Medical Supplies</span></a>
    </li>
    <li class=" nav-item tung-nav-item"><a href="#"><i class="icon-calendar3"></i><span data-i18n="nav.page_layouts.main"
          class="menu-title">View Surgery Schedule</span></a>
    </li>
  </ul>
</div>