<div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="./importList.html">Import Excel File List</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="./confirmMSRequest.html">Confirm Medical Supplies</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="./viewSchedule.html">View Schedule</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>