<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul id=menu class="navbar-nav flex-column">
                </ul>
            </div>
        </nav>
    </div>
</div>
<script>
    const renderMenu = function () {
        const tokenData = JSON.parse(localStorage.getItem('TOKEN_DATA'));
        if (tokenData) {
            const role = tokenData.role.toUpperCase().trim();
            const currentPage = window.location.pathname;
            let container = ` <li class="nav-divider">
                                    Menu
                                </li>`;
            switch (role) {
                case 'MEDICALSUPPLIER': {
                    const menu_MEDICALSUPPLIER = ['importList.html'];
                    menu_MEDICALSUPPLIER.forEach(el => {
                        container += returnTemplate(el, currentPage.includes(el));
                    });
                    break;
                }
                case 'HOSPITALSTAFF': {
                    const menu_MEDICALSUPPLIER = ['importList.html'];
                    menu_MEDICALSUPPLIER.forEach(el => {
                        container += returnTemplate(el, currentPage.includes(el));
                    });
                    break;
                }
                case 'CHIEFNURSE': {
                    const menu_MEDICALSUPPLIER = ['importList.html'];
                    menu_MEDICALSUPPLIER.forEach(el => {
                        container += returnTemplate(el, currentPage.includes(el));
                    });
                    break;
                } default: {
                    return;
                }
            }
            $('ul#menu').empty();
            $('ul#menu').append(container);
        }
    }

    const returnTemplate = function (url, isActive) {
        return `<li class="nav-item ${isActive ? 'active' : ''}">
                    <a class="nav-link active" href="./${url}">Import Excel File List</a>
                </li>`
    }
    renderMenu();

</script>